*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  height: 100%;
  background-color: black;
  font-family: Dulcelin;
}

h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 5px 20px;
    padding: 5px 20px;
}

p{
  text-align:justify;
  text-shadow: 1px 1px 1px white;
  color:#530d77;
  font-size: 2rem;
  margin: 0.02rem;
  padding: 0.05rem;
}

p.primeralinea{
  text-indent: 3%;
}

.pie-pagina{
  text-align:center;
  text-shadow: 0.2rem 0.2rem 0.2rem #d079fc;
  color:#530d77;
  font-size: 2rem;
}
/*
ESTILOS NAV
*/

nav{
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

a:hover{
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 3px grey;
}

.index{
  animation-duration: 3s;
  animation-name: deslizado_vertical;
}

.boton{
  /* image.png */
  text-align: center;
  color: black;
  text-shadow: 0.1rem 0.1rem 0.1rem #dea6fa;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 30px;
  background-color: #530d77;
  border: 2px solid #d079fc;
  text-decoration: none;
  overflow-y: auto;
  flex-grow: 1;
}
  

/*
DISEÑO LOGO INDEX
*/
.logo{
  background-image: url("/img/Fondo-Escarcha.jpg");
  background-size: cover;
  border: 2px black solid;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.inicio{
  margin: auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

footer{
  width: 100%;
  height: auto;
  margin: 0.01rem;
  padding: 0.01rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content:baseline;
  align-items: flex-end;
}
footer>div{
  margin: 0.02rem;
  padding: 0.02rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer>div>p{
font-size: 1rem;
}

.enlace{
  color: #530d77;
  font-size: 3rem;
  padding: 0.5rem 1.5rem 0.5rem;
  text-decoration: none;
}

/*
ANIMACIONES
*/

@keyframes deslizado_vertical {
    from {
      margin-top: 100%;
      height: 100%
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }

    75% {
        font-size: 200%;
        margin-top: 25%;
        height: 150%;
      }
  }

@keyframes deslizado_horizontal {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/*
FUENTES
*/
@font-face {
  font-family:Dulcelin;
  src: url(fuentes/Dulcelin.otf);
}

@font-face {
  font-family:Audiowide;
  src: url(fuentes/Audiowide-Regular.t);
}

@media only screen and (max-width: 425px) {
    html{
      font-size: 8px;
    }
    footer{
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }

  @media only screen and (min-width: 425px) {
    html{
      font-size: 10px;
    }
    footer{
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }

@media only screen and (min-width: 992px) {
  html{
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html{
    font-size: 16px;
  }
}

/* 
-----------------------------------------------------------------------------------
                            ESTILOS DE LA PAGINA PRODUCTO                         
-----------------------------------------------------------------------------------
*/

/* ESTILO DEL TITULO */

.tittle{
  width: 100%;
  color: #530d77;
  background-color: black;
  text-align: center;
  font-weight: bold;
  height: 3rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tittle h1{
  display: inline-block;
  position: relative;
}

.tittle h1::before, .tittle h1::after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
}

.tittle h1::before{
  left: -20rem;
}

.tittle h1::after{
  right: -20rem;
}

/* Contenedor de todas las cajas */

.container{
  /* border: 2px dashed black; */
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: flex-start;
}

.box{
  /* border: 2px solid black; */
  height: 30rem;
  margin: 0rem 4rem 0rem;
  padding: 1.5rem;
}

.box h3{
  text-align: center;
  margin-top: 15px;
  font-size: 1.5em;
  user-select: none;
}

.box .link{
  text-decoration: none;
  text-shadow: 0.2rem 0.2rem 0.2rem #d079fc;
  color: #530d77;
}

.box p{
  position: relative;
  font-size: 1.1em;
  width: 250px;
  text-shadow: none;
  margin-top: 5px;
  text-align: center;
  user-select: none;
  padding: 5px;
}

.card{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
}

.card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .back img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
  cursor: pointer;
}

.card .back{
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px black;
  cursor: pointer;
}

.card:hover .front{
  transform: perspective(600px) rotatey(180deg);
  cursor: pointer;
}

.card:hover .back{
  transform: perspective(600px) rotatey(360deg);
  cursor: pointer;
}

