*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  background-color: rgb(41, 36, 36);
}

/*
==========================================================
ESTILOS DEL NAV
==========================================================
*/

#logo{
  width: 80px;
}

.nav{
  background-color: rgb(109, 6, 109);
  height: 80px;
  align-items: center;
  padding: 0px 80px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
}

.nav__img{
  /* border: 3px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.nav__nombre{
  padding-left: 20px;
}

.nav__links{
  /* border: 3px solid blue; */
  margin-left: 2em;
  display: inline-block;
}

.boton{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  margin-left: 25px;
}

/*
==========================================================
ESTILOS DEL CARROUSEL
==========================================================
*/

.slide_container{
  border: 1px solid blue;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 600px;
}

.slide_img{
  /* border: 1px solid rgb(0, 255, 255); */
  height: 450px;
  margin-right: 20px;

}

.slide_description{
  /* border: 1px solid rgb(255, 3, 108); */
  height: 450px;
  width: 600px;
}

.slide_description-name, .slide_description-price, .slide_description-delivery, .slide_description-text{
  color: wheat;
  padding: 10px;
}

.slide_description-name{
  font-size: 60px;
}

.slide_description-price{
  font-size: 50px;
}