*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #d079fc;
  font-family: Dulcelin;
}

body{
  
}

header{
  margin: 1px;
  padding: 1px;
  margin: auto;
}


/* h1{
    text-align: center;
    color: #aa00ff;
    text-shadow: white;
    font-size: 5vw;
    margin: 20px 20px;
    padding: 5px 20px;
    border: 5px dashed #aa00ff;
    border-radius: 60px;
    position: relative;
    top: 1vw; 
} */

h2{
    color: white;
    text-align: center;
    font-size: 3vw;
    margin: 5px 20px;
    padding: 5px 20px;
}

p{
  text-align:justify;
  text-shadow: 1px 1px 1px white;
  color:#dea6fa;
  font-size: 220%;
  margin: 20px 20px;
  padding: 5px 20px;
}

p.primeralinea{
  text-indent: 3%;
}

/*
ESTILOS NAV
*/

nav{
  width: 100%;
  height: 130px;
  /* background-color: pink; */
  margin: 5px auto;
  padding: 25px;
  /* border: 5px dashed violet; */
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

a:hover{
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 3px grey;
}

.index{
  animation-duration: 3s;
  animation-name: deslizado_vertical;
}

.boton{
  width: 25%;
  text-align: center;
  color: black;
  text-shadow: 3px 3px 3px #dea6fa;
  font-size: 2vw;
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(109, 6, 109);
  border: 2px solid white;
  text-decoration: none;
  flex-grow: 1;
}

/* .pagina-actual{ 
  font-size: 3vw;
  } */
  
/*
DISEÑO LOGO INDEX 
REVISAR- REVISAR- REVISAR- REVISAR- REVISAR- REVISAR- REVISAR- REVISAR- REVISAR- REVISAR
*/

.Logo{
  background-color: black;
  width: 350px;
  height: 350px;
  margin: 50px auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

.inicio{
  margin: auto;
  background-color: black;
  width: 100%;
  height: 100%;
  flex-grow: 1;
 
}

.enlace{
  color: rgb(109, 6, 109);
  font-size: 5vw;
  padding: 1vw 2vw 1vw;
  top: 50vw;
  left: 90vh;
  text-decoration: none;
}

/*
ANIMACIONES
*/

@keyframes deslizado_vertical {
    from {
      margin-top: 100%;
      height: 100%
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }

    75% {
        font-size: 200%;
        margin-top: 25%;
        height: 150%;
      }
  }

  @keyframes deslizado_horizontal {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/*
FUENTES
*/
  @font-face {
    font-family:Dulcelin;
    src: url(fuentes/Dulcelin.otf);
  }
  